<% @recipes.each do |recipe| %>
  <h3><%= link_to("#{recipe.name}", recipe_path(recipe)) %></h3>
  <%= button_to('Delete recipe', recipe_path(recipe), method: :delete, data: {confirm: 'Delete this recipe? Are you sure?!'}) %>
  <br>
<% end %>
<%= button_to('New recipe', new_recipe_path, method: :get)%>